<script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/googlemap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{api}}&amp;callback=initMap" async defer></script>

<div id="map">
</div>

<main>
  {{#unless sessionId}}
    <section class="container well public site-description">
      <article class="row">
        <ul>
          <p>Happy Tracker is a collection of happy hours for Denver neighborhoods.</li>
            <li>Browse by neighborhood and location for happy hour details at various venues</li>
            <li>Log in to...</li>
            <ul>
              <li>Contribute to Happy Tracker! If you know of a good happy hour, add it to the site!</li>
              <li>Future Feature: Make a collection of favorite Happy Hours</li>
            </ul>
        </ul>
      </article>
      <article class="row">
        <!-- sign up modal -->
        <div class="col-sm-3 col-sm-offset-3 text-center">
          <p class="button-label">Become a User!</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signUpModal">
            Sign Up Now
          </button>
          <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel">
            <section class="modal-dialog" role="document">
              <div class="modal-content">
                <header class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="signUpModalLabel">Sign Up Today</h4>
                </header>
                <article class="modal-body text-left">
                  <form action="/home/signup" method="post">
                    <fieldset class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" autofocus id="email" name="email">
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </fieldset>
                    <footer class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" id="sign-up" class="btn btn-primary">Sign Up</button>
                    </footer>
                  </form>
                </article>
              </div>
            </section>
          </div>
        </div>
        <!-- Login modal -->
        <div class="col-sm-3 text-center">
          <p class="button-label">Already a user?</p>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#loginModal">Log In Here</button>
          <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <header class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="loginModalLabel">Log In to your account</h4>
                </header>
                <article class="modal-body text-left">
                  <form action="/home/login" method="post">
                    <fieldset class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" name="email">
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </fieldset>
                    <footer class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" id="sign-up" class="btn btn-primary">Log In</button>
                    </footer>
                  </form>
                </article>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
  {{/unless}}
  <!-- This is what everyone sees whether logged in or not -->
  <section class="container">
    <h2>{{thisNeighborhood}}</h2>
    {{#each happyhours}}
      <div class="row">
        {{#each this}}
          <div class="col-sm-3">
            <div class="thumbnail">
              <img class="img-responsive venue-img" src="{{this.image_url}}">
              <div class="caption">
                <!-- {{#if ../../sessionId}}
                  <form action="/favorite/{{this.name}}" method="post">
                    <input class="hidden" name="location_id" value="{{this.id}}"></input>
                    <button type="submit" class="btn btn-xs pull-right star">Favorite
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button>
                  </form>
                {{/if}} -->
                <a href="/happyhour/{{this.id}}"><h3>{{this.name}}</h3></a>
                <a href="{{this.url}}">
                  <p>{{this.url}}</p>
                </a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </section>
</main>
